@model CDU_Music_Lessons_Application.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermAndYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermAndYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonDateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor.Tutorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration.DurationTypeAndCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students_Lessons)
        </dt>
        <div class="col-sm-10">
            @foreach (var student in Model.Students_Lessons)
            {
                <div class="col-sm-10">
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">@student.Student.Fname</a>
                </div>
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
